.container_light {
  background: linear-gradient(315deg, #003f5e, #22a9e0);
  min-height: 100vh;
}
.container_dark {
  min-height: 100vh;
}
.logoContainer {
  text-align: center;
}
.logoImage {
  height: 200px;
  width: 200px;
}
.textArea {
  width: 100%;
  margin-top: 1rem;
  max-height: 200px;
  min-height: 100px;
  resize: vertical;
  border: 1px solid #ccc;
}
.errorMsgLight,
.errorMsgDark {
  margin-left: 14px !important;
  font-size: 0.75rem !important;
  letter-spacing: 0.03333em !important;
}
.errorMsgLight {
  color: #d32f2f;
}
.errorMsgDark {
  color: #f44336;
}

@media (max-height: 768px) {
  .logoImage {
    height: 140px;
  }
}
