.loginContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px;
  border: 1px solid #ccc;
  border-radius: 5px;
  max-width: 400px;
  width: 100%;
}

.logoImage {
  width: 100%;
  padding-bottom: 20px;
}

.errorBox {
  color: #d32f2f;
  font-size: 1rem;
  text-align: center;
}

.loginButton {
  background: linear-gradient(315deg, #003f5e, #22a9e0);
}
