.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
}

.card {
  max-width: 400px;
  width: 100%;
  overflow-y: auto;
}

.userImage {
  width: 200px !important;
  height: 200px !important;
  margin: 0 auto;
}

.errorPhoto_dark {
  color: #d32f2f;
  margin-left: 14px !important;
  font-size: 0.75rem !important;
  letter-spacing: 0.03333em !important;
}

@media (max-height: 768px) {
  .userImage {
    width: 150px !important;
    height: 150px !important;
  }
}
